/*
Light
Regular
Semibold
Bold
*/
$blue: #4fadfc;
$anim: all 0.2s ease 0s;
$overlay: rgba(49,49,49,0.8);
$block-shadow-down: 0 12px 6px -8px #cacaca;
$anim5: all 0.5s;
$cubic: all 0.5s cubic-bezier(0.3, 0, 0.2, 1);

$cubic02: all 0.2s cubic-bezier(0.3, 0, 0.2, 1);

$gradient: linear-gradient(36deg, #4fadfc 17%, #02f1fd 83%);