// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bracket-name: 'bracket';
$bracket-x: 389px;
$bracket-y: 0px;
$bracket-offset-x: -389px;
$bracket-offset-y: 0px;
$bracket-width: 57px;
$bracket-height: 195px;
$bracket-total-width: 446px;
$bracket-total-height: 445px;
$bracket-image: '/assets/template/css/sprites/sprite.png';
$bracket: (389px, 0px, -389px, 0px, 57px, 195px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'bracket', );
$computer-name: 'computer';
$computer-x: 255px;
$computer-y: 0px;
$computer-offset-x: -255px;
$computer-offset-y: 0px;
$computer-width: 134px;
$computer-height: 114px;
$computer-total-width: 446px;
$computer-total-height: 445px;
$computer-image: '/assets/template/css/sprites/sprite.png';
$computer: (255px, 0px, -255px, 0px, 134px, 114px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'computer', );
$facebook-name: 'facebook';
$facebook-x: 213px;
$facebook-y: 261px;
$facebook-offset-x: -213px;
$facebook-offset-y: -261px;
$facebook-width: 29px;
$facebook-height: 29px;
$facebook-total-width: 446px;
$facebook-total-height: 445px;
$facebook-image: '/assets/template/css/sprites/sprite.png';
$facebook: (213px, 261px, -213px, -261px, 29px, 29px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'facebook', );
$instagram-name: 'instagram';
$instagram-x: 389px;
$instagram-y: 309px;
$instagram-offset-x: -389px;
$instagram-offset-y: -309px;
$instagram-width: 32px;
$instagram-height: 32px;
$instagram-total-width: 446px;
$instagram-total-height: 445px;
$instagram-image: '/assets/template/css/sprites/sprite.png';
$instagram: (389px, 309px, -389px, -309px, 32px, 32px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'instagram', );
$location-name: 'location';
$location-x: 421px;
$location-y: 309px;
$location-offset-x: -421px;
$location-offset-y: -309px;
$location-width: 15px;
$location-height: 20px;
$location-total-width: 446px;
$location-total-height: 445px;
$location-image: '/assets/template/css/sprites/sprite.png';
$location: (421px, 309px, -421px, -309px, 15px, 20px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'location', );
$loupe-name: 'loupe';
$loupe-x: 0px;
$loupe-y: 352px;
$loupe-offset-x: 0px;
$loupe-offset-y: -352px;
$loupe-width: 93px;
$loupe-height: 93px;
$loupe-total-width: 446px;
$loupe-total-height: 445px;
$loupe-image: '/assets/template/css/sprites/sprite.png';
$loupe: (0px, 352px, 0px, -352px, 93px, 93px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'loupe', );
$peak-down-blue-name: 'peak-down-blue';
$peak-down-blue-x: 0px;
$peak-down-blue-y: 0px;
$peak-down-blue-offset-x: 0px;
$peak-down-blue-offset-y: 0px;
$peak-down-blue-width: 255px;
$peak-down-blue-height: 164px;
$peak-down-blue-total-width: 446px;
$peak-down-blue-total-height: 445px;
$peak-down-blue-image: '/assets/template/css/sprites/sprite.png';
$peak-down-blue: (0px, 0px, 0px, 0px, 255px, 164px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'peak-down-blue', );
$peak-down-white-small-name: 'peak-down-white-small';
$peak-down-white-small-x: 255px;
$peak-down-white-small-y: 114px;
$peak-down-white-small-offset-x: -255px;
$peak-down-white-small-offset-y: -114px;
$peak-down-white-small-width: 69px;
$peak-down-white-small-height: 45px;
$peak-down-white-small-total-width: 446px;
$peak-down-white-small-total-height: 445px;
$peak-down-white-small-image: '/assets/template/css/sprites/sprite.png';
$peak-down-white-small: (255px, 114px, -255px, -114px, 69px, 45px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'peak-down-white-small', );
$peak-up-gray-small-name: 'peak-up-gray-small';
$peak-up-gray-small-x: 123px;
$peak-up-gray-small-y: 261px;
$peak-up-gray-small-offset-x: -123px;
$peak-up-gray-small-offset-y: -261px;
$peak-up-gray-small-width: 90px;
$peak-up-gray-small-height: 57px;
$peak-up-gray-small-total-width: 446px;
$peak-up-gray-small-total-height: 445px;
$peak-up-gray-small-image: '/assets/template/css/sprites/sprite.png';
$peak-up-gray-small: (123px, 261px, -123px, -261px, 90px, 57px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'peak-up-gray-small', );
$peak-up-gray-name: 'peak-up-gray';
$peak-up-gray-x: 0px;
$peak-up-gray-y: 164px;
$peak-up-gray-offset-x: 0px;
$peak-up-gray-offset-y: -164px;
$peak-up-gray-width: 151px;
$peak-up-gray-height: 97px;
$peak-up-gray-total-width: 446px;
$peak-up-gray-total-height: 445px;
$peak-up-gray-image: '/assets/template/css/sprites/sprite.png';
$peak-up-gray: (0px, 164px, 0px, -164px, 151px, 97px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'peak-up-gray', );
$peak-up-white-name: 'peak-up-white';
$peak-up-white-x: 151px;
$peak-up-white-y: 164px;
$peak-up-white-offset-x: -151px;
$peak-up-white-offset-y: -164px;
$peak-up-white-width: 150px;
$peak-up-white-height: 97px;
$peak-up-white-total-width: 446px;
$peak-up-white-total-height: 445px;
$peak-up-white-image: '/assets/template/css/sprites/sprite.png';
$peak-up-white: (151px, 164px, -151px, -164px, 150px, 97px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'peak-up-white', );
$people-name: 'people';
$people-x: 0px;
$people-y: 261px;
$people-offset-x: 0px;
$people-offset-y: -261px;
$people-width: 123px;
$people-height: 91px;
$people-total-width: 446px;
$people-total-height: 445px;
$people-image: '/assets/template/css/sprites/sprite.png';
$people: (0px, 261px, 0px, -261px, 123px, 91px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'people', );
$smile-sad-name: 'smile-sad';
$smile-sad-x: 389px;
$smile-sad-y: 195px;
$smile-sad-offset-x: -389px;
$smile-sad-offset-y: -195px;
$smile-sad-width: 57px;
$smile-sad-height: 57px;
$smile-sad-total-width: 446px;
$smile-sad-total-height: 445px;
$smile-sad-image: '/assets/template/css/sprites/sprite.png';
$smile-sad: (389px, 195px, -389px, -195px, 57px, 57px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'smile-sad', );
$smile-name: 'smile';
$smile-x: 389px;
$smile-y: 252px;
$smile-offset-x: -389px;
$smile-offset-y: -252px;
$smile-width: 57px;
$smile-height: 57px;
$smile-total-width: 446px;
$smile-total-height: 445px;
$smile-image: '/assets/template/css/sprites/sprite.png';
$smile: (389px, 252px, -389px, -252px, 57px, 57px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'smile', );
$twitter-name: 'twitter';
$twitter-x: 301px;
$twitter-y: 224px;
$twitter-offset-x: -301px;
$twitter-offset-y: -224px;
$twitter-width: 35px;
$twitter-height: 28px;
$twitter-total-width: 446px;
$twitter-total-height: 445px;
$twitter-image: '/assets/template/css/sprites/sprite.png';
$twitter: (301px, 224px, -301px, -224px, 35px, 28px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'twitter', );
$vk-name: 'vk';
$vk-x: 324px;
$vk-y: 114px;
$vk-offset-x: -324px;
$vk-offset-y: -114px;
$vk-width: 41px;
$vk-height: 24px;
$vk-total-width: 446px;
$vk-total-height: 445px;
$vk-image: '/assets/template/css/sprites/sprite.png';
$vk: (324px, 114px, -324px, -114px, 41px, 24px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'vk', );
$wiki-name: 'wiki';
$wiki-x: 301px;
$wiki-y: 164px;
$wiki-offset-x: -301px;
$wiki-offset-y: -164px;
$wiki-width: 60px;
$wiki-height: 60px;
$wiki-total-width: 446px;
$wiki-total-height: 445px;
$wiki-image: '/assets/template/css/sprites/sprite.png';
$wiki: (301px, 164px, -301px, -164px, 60px, 60px, 446px, 445px, '/assets/template/css/sprites/sprite.png', 'wiki', );
$spritesheet-width: 446px;
$spritesheet-height: 445px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($bracket, $computer, $facebook, $instagram, $location, $loupe, $peak-down-blue, $peak-down-white-small, $peak-up-gray-small, $peak-up-gray, $peak-up-white, $people, $smile-sad, $smile, $twitter, $vk, $wiki, );
$spritesheet: (446px, 445px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
