//= include/header.html

<div class="header">
    <div class="container">
        <div class="topline">
            <div class="burger toggle-menu"><span></span></div>
            <a href="/" class="logo">
                <img src="/assets/template/images/1920/logo.png" alt="">
            </a>
            <div class="topline__menu">
                <ul class="topline__list">
                    <li><a href="#" data-goto=".packets">Услуги</a></li>
                    <li><a href="#" data-goto=".promo">Аудит репутации в интернете</a></li>
                    <li><a href="#" data-goto=".grateful">Благодарственные письма</a></li>
                </ul>
            </div>
            <div class="topline__city">
                <span class="topline__city-item">Москва</span>
            </div>
            <div class="topline__contacts">
                <div><a href="tel:88005559718" class="topline__phone">8-800-555-97-18</a></div>
                <div><a href="mailto:info@markway.ru" class="topline__email">info@markway.ru</a></div>
            </div>
            <div class="topline__callback">
                <a class="btn-blue" href="#callback" data-fancybox="">Заказать звонок</a>
            </div>

            <div class="mobile-menu">
                <div class="mobile-menu__top">
                    <div class="mobile-menu__contacts">
                        <span class="mobile-menu__city-item">Москва</span>
                    </div>
                    <div class="mobile-menu__timework">
                        <div><a href="tel:88005559718" class="mobile-menu__phone">8-800-555-97-18</a></div>
                        <div><a href="mailto:info@markway.ru" class="mobile-menu__email">info@markway.ru</a></div>
                    </div>
                </div>
                <ul>
                    <li><a href="#" data-goto=".packets">Услуги</a></li>
                    <li><a href="#" data-goto=".promo">Аудит репутации<br /> в интернете</a></li>
                    <li><a href="#" data-goto=".grateful">Благодарственные<br /> письма</a></li>
                </ul>
                <div class="mobile-menu__bottom">
                    <a class="btn-blue" href="#callback" data-fancybox="">Заказать звонок</a>
                </div>
            </div>

            <div class="mobile-menu-styled">
                <span class="mobile-menu-styled__close toggle-menu"></span>
                <div class="mobile-menu-styled__box">
                    <div class="mobile-menu-styled__list-wrapper">
                        <ul class="mobile-menu-styled__list">
                            <li><a href="#" data-goto=".packets">Услуги</a></li>
                            <li><a href="#" data-goto=".promo">Аудит репутации в интернете</a></li>
                            <li><a href="#" data-goto=".grateful">Благодарственные письма</a></li>
                        </ul>
                    </div>
                    <div class="mobile-menu-styled__contacts">
                        <div><a href="tel:88005559718" class="mobile-menu-styled__phone">8-800-555-97-18</a></div>
                        <div><a href="mailto:info@markway.ru" class="mobile-menu-styled__email">info@markway.ru</a></div>
                    </div>
                    <div class="mobile-menu-styled__callback">
                        <a class="btn-blue" href="#callback" data-fancybox="">Заказать звонок</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="promo">
    <div class="container">
        <div class="promo__box">
            <img src="/assets/template/images/1920/promo-men.png" alt="" class="promo__image">
            <div class="promo__top">
                <div class="promo__name">
                    SERM агентство MarkWay
                </div>
                <div class="promo__description">
                    предоставляет полный комплекс услуг по построению репутации компании, продукта или бренда в интернете.
                    <span class="in-desktop">
                    С 2015 года в составе агентства работает специализированный отдел, основной задачей которого является
                        управление репутацией в интернете (SERM)</span>
                </div>
                <a href="#wikiserm" class="promo__wiki-link" data-fancybox="">Что такое SERM</a>
            </div>
            <div class="promo__bottom">
                <div class="promo__wiki">
                    <span class="promo__termin">SERM (Search Engine Reputation Management)</span> — комплекс мероприятий направленных на замещение
                    результатов поисковой выдачи с недостоверной информацией о компании, товаре или услуге
                    на информацию с актуальными отзывами и статьями
                </div>
                <div class="promo__tariffs">
                    <div class="tariffs__row">
                        <div class="tariffs__item">
                            <div class="tariffs__info">
                                <div class="tariffs__line">
                                    <div>
                                        Аудит репутации компании, бренда в интернете
                                    </div>
                                    <div class="tariffs__price-line">
                                        <span class="tariffs__price">9.899</span>
                                        <span class="tariffs__cur">рублей</span>
                                        <span class="tariffs__cur--min">руб</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tariffs__buttons">
                                <a href="#order-serm" class="btn-orange" data-fancybox="">Заказать</a>
                                <a href="#serm-free" class="btn-gray" data-fancybox="">Подробнее</a>
                            </div>
                        </div>
                        <div class="tariffs__or">или</div>
                        <div class="tariffs__item">
                            <div class="tariffs__info">
                                <span class="yellow">бесплатный аудит</span>
                                репутации компании,
                                бренда в интернете,
                                заполнив форму
                            </div>
                            <div class="tariffs__buttons">
                                <a href="#order-serm" class="btn-orange" data-fancybox="">Заказать</a>
                                <a href="#serm-free" class="btn-gray" data-fancybox="">Подробнее</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="digits">
    <div class="container">
        <div class="digits__box">
            <div class="digits__item">
                <div class="digits__value digits__value--success">
                    3000
                </div>
                <div class="digits__text">
                    успешно реализованных <br />
                    проектов
                </div>
            </div>
            <div class="digits__item">
                <div class="digits__value">
                    300
                </div>
                <div class="digits__text">
                    проектов  на абонентском<br />
                    обслуживании
                </div>
            </div>
            <div class="digits__item">
                <div class="digits__value">
                    100
                </div>
                <div class="digits__text">
                    официальных благодарственных<br />
                    писем от клиентов
                </div>
            </div>
        </div>
    </div>
</div>

<div class="opinion">
    <div class="container">
        <div class="opinion__caption block-caption">Насколько<br class="in-mobile"> важна репутация?</div>
    </div>
    <div class="opinion__box">
        <div class="container">
            <div class="opinion__row">
                <div class="opinion__left">
                    <div class="opinion__headers">
                        <div class="opinion__subject">
                            Опрос в 43
                            субъектах РФ
                        </div>
                        <div class="opinion__company-name">
                            статистика Российской<br />
                            исследовательской компании ФОМ
                        </div>
                    </div>
                    <div class="opinion__charts">
                        <div class="chart">
                            <div class="circle" id="circles-1"></div>
                            <div class="chart__info">
                                пользователей
                                читают отзывы на
                                сторонних ресурсах
                            </div>
                        </div>
                        <div class="chart">
                            <div class="circle" id="circles-2"></div>
                            <div class="chart__info">
                                прислушиваются
                                к отзывам на сторонних ресурсах
                            </div>
                        </div>
                    </div>

                </div>
                <div class="opinion__right">
                    <div class="ya-market">
                        <div class="ya-market__left">
                            <div class="ya-market__sad">
                                <div class="ya-market__digit">42 000</div>
                                <div class="ya-market__label">негативных отзывов</div>
                            </div>
                            <div class="ya-market__positive">
                                <div class="ya-market__digit">15 000</div>
                                <div class="ya-market__label">позитивных отзывов</div>
                            </div>
                        </div>
                        <div class="ya-market__right">
                            <div class="ya-market__summary">
                                <span class="ya-market__summary-value">150</span>
                                интернет-магазинов и
                                сервисов закрываются
                                ежемесячно по причине
                                плохой репутации
                            </div>
                        </div>
                    </div>
                    <div class="ya-market__note">статистика Яндекс.Маркет</div>
                </div>
            </div>
        </div>
    </div>
    <div class="opinion-bottom__box">
        <div class="container">
            <div class="opinion-bottom__row">
                <div class="opinion-bottom__peoples peoples">
                    <div class="peoples__header">
                        <div class="peoples__digit">70%</div>
                        <div class="peoples__label">людей</div>
                    </div>
                    <div class="peoples__text">
                        доверяют мнениям , высказанным на форумах и в социальных сетях
                    </div>
                    <div class="peoples__note">
                        результаты исследований<br />
                        компании Nielsen
                    </div>
                </div>
                <div class="opinion-bottom__requests requests">
                    <div class="requests__header">
                        <div class="requests__digit">33,5 <span class="requests__unit">млн</span></div>
                        <div class="requests__label">запросов в месяц</div>
                    </div>
                    <div class="requests__text">
                        По статистике wordstat.yandex.ru слово «отзывы» фигурирует в 33,5 млн. запросов в месяц
                    </div>
                    <div class="requests__note">
                        статистика<br class="in-desktop"/>
                        wordstat.yandex.ru
                    </div>
                </div>
                <div class="opinion-bottom__countries">
                    <div class="opinion-bottom__headers">
                        <div class="opinion-bottom__subject">
                            Опрос в 30<br class="in-desktop"/>
                            странах мира
                        </div>
                        <div class="opinion-bottom__company-name">
                            статистика аудиторской<br />
                            фирмы «Deloitte & Touche»
                        </div>
                    </div>
                    <div class="opinion-bottom__charts">
                        <div class="chart chart--3">
                            <div class="circle" id="circles-3"></div>
                            <div class="chart__info">
                                людей читают
                                отзывы
                            </div>
                        </div>
                        <div class="chart chart--4">
                            <div class="circle" id="circles-4"></div>
                            <div class="chart__info">
                                доверяют им
                                больше, чем
                                официальным
                                источникам
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="why">
    <div class="container">
        <div class="why__box">
            <div class="why__row">
                <img src="/assets/template/images/1920/why__picture.png" alt="" class="why__image">
                <div class="why__info">
                    <div class="why__caption block-caption">
                        Почему не стоит игнорировать отзывы?
                    </div>
                    <ol class="numeric">
                        <li>Вы теряете минимум 70% клиентов – тех самых людей, которые делают выбор, основываясь на отзывах</li>
                        <li>Ваши вложения в SEO, рекламу, контекст и другие методы продвижения тратятся впустую</li>
                        <li>Вам перестают доверять. А где нет доверия – там нет прибыли</li>
                        <li>Вы позволяете конкурентам разрушать Вашу репутацию (не секрет, что часто негативные отзывы оставляют именно конкуренты)</li>
                        <li>Вы теряете шансы на развитие компании и укрепление позиций на рынке</li>
                    </ol>
                </div>
            </div>
            <div class="why__button">
                <a class="btn-orange" href="#order-serm" data-fancybox="">Заказать управление репутацией</a>
            </div>
        </div>

    </div>
</div>

<div class="serm">
    <div class="container">
        <div class="serm__caption block-caption">Репутационный маркетинг от MarkWay</div>
    </div>
    <div class="serm__wrapper">
        <div class="container">
            <div class="serm__box">
                <img src="/assets/template/images/1920/flower.png" class="serm__flower" alt="">
                <div class="serm__item serm__item--seo">
                    <div class="serm__header">SEO</div>
                    <div class="serm__info">
                        Оптимизация и продвижение целевых ресурсов по репутационным запросам
                    </div>
                </div>

                <div class="serm__item serm__item--monitoring">
                    <div class="serm__header">Мониторинг</div>
                    <div class="serm__info">Мониторинг поисковой выдачи Яндекса и Google</div>
                </div>

                <div class="serm__item serm__item--orm">
                    <div class="serm__header">ORM</div>
                    <div class="serm__info">
                        Выявление и реагирование на негативные упоминания. Формирование и
                        написание положительных отзывов
                    </div>
                </div>

                <div class="serm__item serm__item--serm">
                    <div class="serm__header">SERM</div>
                    <div class="serm__info">
                        Формирование положительного имиджа компании в результатах поисковой выдачи
                        за счет нивелирования (замещения) негатива
                    </div>
                </div>

                <div class="serm__item serm__item--pr">
                    <div class="serm__header">PR</div>
                    <div class="serm__info">
                        Написание и продвижение тематических статьей, обзоров и пресс-релизов
                    </div>
                </div>

                <div class="serm__item serm__item--smm">
                    <div class="serm__header">SMM</div>
                    <div class="serm__info">Создание, наполнение и продвижение групп в социальных сетях</div>
                </div>

                <div class="serm__item serm__item--jur">
                    <div class="serm__header">
                        Юридическое
                        сопровождение
                    </div>
                    <div class="serm__info">
                        Анализ негативной информации в сети интернет и принятие мер по её удалению
                        с применением норм действующего Законодательства. Консультация по вопросам,
                        связанным с защитой деловой репутации
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="issues">
    <div class="container">
        <div class="issues__caption block-caption">
            Задачи, решаемые<br />
            репутационным маркетингом
        </div>
        <div class="issues__box">
            <img src="/assets/template/images/1920/issues.png" alt="" class="issues__image">
            <div class="issues__grid">

                <div class="issues__row">
                    <div class="issues__name">
                        Потенциальные<br class="in-desktop"/>
                        клиенты
                    </div>
                    <div class="issues__arrow">
                        <img src="/assets/template/images/1920/arrow-orange.png" alt="">
                    </div>
                    <div class="issues__summary">
                        <span class="bold">Увеличение продаж</span> благодаря росту доверия к компании и ее продукции\услугам
                    </div>
                </div>

                <div class="issues__row">
                    <div class="issues__name">
                        Постоянные<br class="in-desktop"/>
                        клиенты
                    </div>
                    <div class="issues__arrow">
                        <img src="/assets/template/images/1920/arrow-orange.png" alt="">
                    </div>
                    <div class="issues__summary">
                        <span class="bold">Снижение риска</span> перехода клиентов к конкурентам за счет повышения лояльности
                    </div>
                </div>

                <div class="issues__row">
                    <div class="issues__name">
                        Сотрудники<br class="in-desktop"/>
                        компании
                    </div>
                    <div class="issues__arrow">
                        <img src="/assets/template/images/1920/arrow-orange.png" alt="">
                    </div>
                    <div class="issues__summary">
                        <span class="bold">Уменьшение издержек на рекрутинг</span> и удержание эффективных кадров благодаря формированию привлекательной репутации на рынке труда
                    </div>
                </div>

                <div class="issues__row">
                    <div class="issues__name">
                        Инвесторы<br class="in-desktop"/>
                        и партнеры
                    </div>
                    <div class="issues__arrow">
                        <img src="/assets/template/images/1920/arrow-orange.png" alt="">
                    </div>
                    <div class="issues__summary">
                        <span class="bold">Рост рыночной стоимости компании</span>, укрепление доверия к бизнесу в глазах инвесторов и партнеров
                    </div>
                </div>

                <div class="issues__row">
                    <div class="issues__name">
                        СМИ
                    </div>
                    <div class="issues__arrow">
                        <img src="/assets/template/images/1920/arrow-orange.png" alt="">
                    </div>
                    <div class="issues__summary">
                        <span class="bold">Сокращение расходов на рекламу</span> за счет бесплатных публикаций в СМИ
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="advantages">
    <div class="container">
        <div class="advantages__caption block-caption">
            Наши<br class="in-mobile" /> преимущества
        </div>
    </div>
    <div class="advantages__hr">
        <div class="container">
            <div class="advantages__hr-box"></div>
        </div>
    </div>
    <div class="container">
        <div class="advantages__list">

            <div class="advantages__item">
                <div class="advantages__card">
                    <div class="advantages__image">
                        <img src="/assets/template/images/1920/adven-1.png" alt="">
                    </div>
                    <div class="advantages__name">
                        Комплексный
                        анализ
                    </div>
                    <div class="advantages__info">
                        Выполняем предварительный аудит репутации и предлагаем стратегические решения
                    </div>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__card">
                    <div class="advantages__image">
                        <img src="/assets/template/images/1920/adven-2.png" alt="">
                    </div>
                    <div class="advantages__name">
                        Результат – уже
                        через месяц
                    </div>
                    <div class="advantages__info">
                        Заметный рост всех показателей эффективности деятельности компании уже по итогам первого месяца работы
                    </div>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__card">
                    <div class="advantages__image">
                        <img src="/assets/template/images/1920/adven-3.png" alt="">
                    </div>
                    <div class="advantages__name">
                        Большая
                        правовая база
                    </div>
                    <div class="advantages__info">
                        Опыт судебной и досудебной практики по удалению информации порочащей деловую репутацию
                    </div>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__card">
                    <div class="advantages__image">
                        <img src="/assets/template/images/1920/adven-4.png" alt="">
                    </div>
                    <div class="advantages__name">
                        Прозрачная
                        отчетность
                    </div>
                    <div class="advantages__info">
                        Развернутый отчет с детализацией по каждому этапу работ
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="packets">
    <div class="container">
        <div class="packets__caption block-caption">
            ПАКЕТЫ УСЛУГ ПО УПРАВЛЕНИЮ РЕПУТАЦИЕЙ
            <span class="in-desktop">БРЕНДА ИЛИ КОМПАНИИ В ИНТЕРНЕТЕ</span>
        </div>
    </div>
    <div class="packets__box">
        <div class="container">
            <div class="packets__compare--mobile">
                <a href="#" class="btn-orange">Сравнить все тарифы</a>
            </div>
            <div class="packets__nav">
                <ul>
                    <li>
                        <a data-tab=".xtab-first" class="active" href="#">
                            <span class="packets__base-name">Базовый</span>
                            <span class="packets__cost">От <span class="packets__cost-value">31 524</span> руб/мес</span>
                        </a>
                    </li>
                    <li>
                        <a data-tab=".xtab-second" href="#">
                            <span class="packets__base-name">Оптимальный</span>
                            <span class="packets__cost">От <span class="packets__cost-value">50 785</span> руб/мес</span>
                        </a>
                    </li>
                    <li>
                        <a data-tab=".xtab-third" href="#">
                            <span class="packets__base-name">Высокоэффективный</span>
                            <span class="packets__cost">От <span class="packets__cost-value">50 785</span> руб/мес</span>
                        </a>
                    </li>
                </ul>
                <a href="#" class="btn-orange packets__compare">Сравнить все тарифы</a>
            </div>
            <div class="packets__tabs">

                <div class="packets__tab-content xtab active xtab-first">

                    <div href="#" class="xtab-nav--mobile">
                        <div class="xtab-nav__btn">
                            <span class="packets__base-name">Базовый</span>
                            <span class="packets__cost">От <span class="packets__cost-value">31 524</span> руб/мес</span>
                        </div>
                        <a href="#" class="xtab-nav__open" data-tab=".xtab-first">Развернуть</a>
                    </div>
                    <div class="packets__tab-inside">
                        <div class="packets__list">
                            <div class="packets__row packets__row--header">
                                <div class="packets__info">
                                    <div class="packets__name">Мониторинг и отчетность</div>
                                </div>
                                <div class="packets__value">
                                </div>
                            </div>
                            <div class="packets__row">
                                <div class="packets__info">

                                    <p class="bold">Подбор наиболее высокочастотных запросов репутационной выдачи Заказчика:</p>
                                    <ul>
                                        <li>По названию (Все варианты написания названия Компании Заказчика (бренда, продукта) в кавычках и без кавычек, англоязычное написание, с опечатками, url сайта);</li>
                                        <li>По отзывам Компании (Все варианты написания Компании Заказчика + отзывы);</li>
                                        <li>По отзывам сотрудников о Компании (Все варианты написания Компании Заказчика +отзывы сотрудников работников)+вакансии+работа+кто работал).</p></li>
                                    </ul>
                                </div>
                                <div class="packets__value">
                                    5 запросов
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Постоянный мониторинг запросов выдачи Заказчика в «Яндекс» и «Google».</p>
                                </div>
                                <div class="packets__value">
                                    5 запросов,<br />
                                    топ-10
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Подготовка и предоставление Заказчику отчета с оценкой состояния репутационной выдачи Заказчика в «Яндекс» и «Google».</p>
                                </div>
                                <div class="packets__value">
                                    Ежемесячно
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Выявление проблемных зон в деятельности Заказчика на основе информации из негативных отзывов и предоставление Заказчику рекомендаций по предотвращению повторения волны негатива.</p>
                                </div>
                                <div class="packets__value">
                                    &mdash;
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Скрытая строка для примера</p>
                                </div>
                                <div class="packets__value">
                                    <span class="price-ok"></span>
                                </div>
                            </div>
                            <div class="packets__row packets__row--header">
                                <div class="packets__info">
                                    <div class="packets__name">Еще один заголовок</div>
                                </div>
                                <div class="packets__value">
                                </div>
                            </div>
                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Скрытая строка 2 для примера</p>
                                </div>
                                <div class="packets__value">
                                    &mdash;
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Скрытая строка 3 для примера</p>
                                </div>
                                <div class="packets__value">
                                    534534
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="packets__more-box">
                        <a href="#" class="packets__more" data-rows=".xtab-first .packets__row" data-count="4">Далее</a>
                    </div>
                </div>




                <div class="packets__tab-content xtab xtab-second">

                    <div href="#" class="xtab-nav--mobile" data-tab=".xtab-second">
                        <div class="xtab-nav__btn">
                            <span class="packets__base-name">Оптимальный</span>
                            <span class="packets__cost">От <span class="packets__cost-value">50 785</span> руб/мес</span>
                        </div>
                        <a href="#" class="xtab-nav__open" data-tab=".xtab-second">Развернуть</a>
                    </div>

                    <div class="packets__tab-inside">
                        <div class="packets__list">
                            <div class="packets__row packets__row--header">
                                <div class="packets__info">
                                    <div class="packets__name">Мониторинг и отчетность на второй вкладке</div>
                                </div>
                                <div class="packets__value">
                                </div>
                            </div>
                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Подбор наиболее высокочастотных запросов репутационной выдачи Заказчика:</p>
                                    <ul>
                                        <li>По названию (Все варианты написания названия Компании Заказчика (бренда, продукта) в кавычках и без кавычек, англоязычное написание, с опечатками, url сайта);</li>
                                        <li>По отзывам Компании (Все варианты написания Компании Заказчика + отзывы);</li>
                                        <li>По отзывам сотрудников о Компании (Все варианты написания Компании Заказчика +отзывы сотрудников работников)+вакансии+работа+кто работал).</p></li>
                                    </ul>
                                </div>
                                <div class="packets__value">
                                    5 запросов
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Постоянный мониторинг запросов выдачи Заказчика в «Яндекс» и «Google».</p>
                                </div>
                                <div class="packets__value">
                                    5 запросов,<br />
                                    топ-10
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Подготовка и предоставление Заказчику отчета с оценкой состояния репутационной выдачи Заказчика в «Яндекс» и «Google».</p>
                                </div>
                                <div class="packets__value">
                                    Ежемесячно
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Выявление проблемных зон в деятельности Заказчика на основе информации из негативных отзывов и предоставление Заказчику рекомендаций по предотвращению повторения волны негатива.</p>
                                </div>
                                <div class="packets__value">
                                    &mdash;
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Скрытая строка для примера</p>
                                </div>
                                <div class="packets__value">
                                    123
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Скрытая строка 2 для примера</p>
                                </div>
                                <div class="packets__value">
                                    &mdash;
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Скрытая строка 3 для примера</p>
                                </div>
                                <div class="packets__value">
                                    456
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="packets__more-box">
                        <a href="#" class="packets__more" data-rows=".xtab-second .packets__row" data-count="2">Далее</a>
                    </div>
                </div>


                <div class="packets__tab-content xtab xtab-third">

                    <div class="xtab-nav--mobile">
                        <div class="xtab-nav__btn">
                            <span class="packets__base-name">Высокоэффективный</span>
                            <span class="packets__cost">От <span class="packets__cost-value">50 785</span> руб/мес</span>
                        </div>
                        <a href="#" class="xtab-nav__open" data-tab=".xtab-third">Развернуть</a>
                    </div>

                    <div class="packets__tab-inside">
                        <div class="packets__list">

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Подбор наиболее высокочастотных запросов репутационной выдачи Заказчика:</p>
                                    <ul>
                                        <li>По названию (Все варианты написания названия Компании Заказчика (бренда, продукта) в кавычках и без кавычек, англоязычное написание, с опечатками, url сайта);</li>
                                        <li>По отзывам Компании (Все варианты написания Компании Заказчика + отзывы);</li>
                                        <li>По отзывам сотрудников о Компании (Все варианты написания Компании Заказчика +отзывы сотрудников работников)+вакансии+работа+кто работал).</p></li>
                                    </ul>
                                </div>
                                <div class="packets__value">
                                    5 запросов
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Постоянный мониторинг запросов выдачи Заказчика в «Яндекс» и «Google».</p>
                                </div>
                                <div class="packets__value">
                                    5 запросов,<br />
                                    топ-10
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Подготовка и предоставление Заказчику отчета с оценкой состояния репутационной выдачи Заказчика в «Яндекс» и «Google».</p>
                                </div>
                                <div class="packets__value">
                                    Ежемесячно
                                </div>
                            </div>

                            <div class="packets__row">
                                <div class="packets__info">
                                    <p class="bold">Выявление проблемных зон в деятельности Заказчика на основе информации из негативных отзывов и предоставление Заказчику рекомендаций по предотвращению повторения волны негатива.</p>
                                </div>
                                <div class="packets__value">
                                    &mdash;
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="packets__more-box">
                        <a href="#" class="packets__more" data-rows=".xtab-third .packets__row" data-count="9">Далее</a>
                    </div>
                </div>

            </div>
            <div class="packets__compare--tablet">
                <a href="#" class="btn-orange">Сравнить все тарифы</a>
            </div>

        </div>
    </div>
</div>

<div class="grateful">
    <div class="container">
        <div class="block-caption">Благодарственные письма</div>
        <div class="grateful__grid grateful-slider">
            <div>
                <a data-fancybox="grateful" href="https://via.placeholder.com/800x1000"><img src="/assets/template/images/1920/blagodar-1.jpg" alt=""></a>
            </div>
            <div>
                <a data-fancybox="grateful" href="https://via.placeholder.com/801x1000"><img src="/assets/template/images/1920/blagodar-2.jpg" alt=""></a>
            </div>
            <div>
                <a data-fancybox="grateful" href="https://via.placeholder.com/799x1000"><img src="/assets/template/images/1920/blagodar-3.jpg" alt=""></a>
            </div>
            <div>
                <a data-fancybox="grateful" href="https://via.placeholder.com/803x1000"><img src="/assets/template/images/1920/blagodar-4.jpg" alt=""></a>
            </div>
            <div>
                <a data-fancybox="grateful" href="https://via.placeholder.com/798x1000"><img src="/assets/template/images/1920/blagodar-5.jpg" alt=""></a>
            </div>
            <div>
                <a data-fancybox="grateful" href="https://via.placeholder.com/805x1000"><img src="/assets/template/images/1920/blagodar-3.jpg" alt=""></a>
            </div>
            <div>
                <a data-fancybox="grateful" href="https://via.placeholder.com/797x1000"><img src="/assets/template/images/1920/blagodar-4.jpg" alt=""></a>
            </div>
            <div>
                <a data-fancybox="grateful" href="https://via.placeholder.com/807x1000"><img src="/assets/template/images/1920/blagodar-5.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>

<div class="order">
    <div class="container">
        <div class="order__box">
            <div class="order-form">
                <div class="order-form__caption">заказать управление репутацией</div>
                <form action="">
                    <div class="order-form__grid">
                        <div class="order-form__left">
                            <div class="order-form__item">
                                <div class="order-form__label">
                                    Ваше имя
                                </div>
                                <div class="order-form__input-box">
                                    <input class="form-styled" type="text" name="name"/>
                                </div>
                            </div>
                            <div class="order-form__item">
                                <div class="order-form__label">
                                    Ваш сайт
                                </div>
                                <div class="order-form__input-box">
                                    <input class="form-styled" type="text" name="site"/>
                                </div>
                            </div>
                            <div class="order-form__item">
                                <div class="order-form__label">
                                    Номер телефона
                                </div>
                                <div class="order-form__input-box">
                                    <input class="form-styled" type="text" name="phone" data-mask="+7(999) 999-99-99"/>
                                </div>
                            </div>
                        </div>
                        <div class="order-form__right">
                            <div class="order-form__item">
                                <div class="order-form__label">
                                    Задайте любой интересующий вас вопрос
                                </div>
                                <div class="order-form__input-box">
                                    <textarea class="form-styled" name="question"></textarea>
                                </div>
                            </div>
                            <div class="order-form__submit">
                                <button class="btn-orange">Отправить заявку</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="footer__grid">
            <div class="footer__logo">
                <img src="/assets/template/images/1920/logo.png" alt="">
            </div>
            <div class="footer__menu">
                <ul class="footer__list">
                    <li><a href="#" data-goto=".packets">Услуги</a></li>
                    <li><a href="#" data-goto=".promo">Аудит репутации в интернете</a></li>
                    <li><a href="#" data-goto=".grateful">Благодарственные письма</a></li>
                </ul>
            </div>
            <div class="footer__social">
                <a href="#" class="social-icon social-icon--facebook"></a>
                <a href="#" class="social-icon social-icon--vk"></a>
                <a href="#" class="social-icon social-icon--insta"></a>
                <a href="#" class="social-icon social-icon--twitter"></a>
            </div>
            <div class="footer__contacts">
                <div><a href="tel:88005559718" class="footer__phone">8-800-555-97-18</a></div>
                <div><a href="mailto:info@markway.ru" class="footer__email">info@markway.ru</a></div>
            </div>
            <div class="footer__callback">
                <a class="btn-blue" href="#callback" data-fancybox="">Заказать звонок</a>
            </div>
        </div>
        <div class="footer__copyright">
            Markway 2018 © Все права защищены ООО "Марквэй"
        </div>
    </div>
</div>

<div style="display: none">

    <div id="wikiserm" class="xform">
        <div class="xform__caption">Что такое SERM?</div>
        <div class="promo__wiki">
            <span class="promo__termin">SERM (Search Engine Reputation Management)</span> — комплекс мероприятий направленных на замещение
            результатов поисковой выдачи с недостоверной информацией о компании, товаре или услуге
            на информацию с актуальными отзывами и статьями
        </div>
    </div>

    <div id="callback" class="xform">
        <div class="xform__caption">Заказать звонок</div>
        <div class="xform__item">
            <div class="xform__label">Ваше имя</div>
            <div class="xform__input-box">
                <input type="text" name="name">
            </div>
        </div>
        <div class="xform__item">
            <div class="xform__label">Ваш номер телефона</div>
            <div class="xform__input-box">
                <input type="text" name="phone" data-mask="+7 (999) 999-99-99">
            </div>
        </div>
        <div class="xform__submit">
            <button type="submit" class="btn-orange">Заказать</button>
        </div>
    </div>


    <div id="order-serm" class="xform">
        <div class="xform__caption">Заказать аудит</div>

        <div class="xform__row">
            <div class="xform__left">
                <div class="xform__item">
                    <div class="xform__label">Ваше имя</div>
                    <div class="xform__input-box">
                        <input type="text" name="name">
                    </div>
                </div>
            </div>
            <div class="xform__right">
                <div class="xform__item">
                    <div class="xform__label">Ваш Email</div>
                    <div class="xform__input-box">
                        <input type="text" name="email">
                    </div>
                </div>
            </div>
        </div>

        <div class="xform__row">
            <div class="xform__left">
                <div class="xform__item">
                    <div class="xform__label">Компания/Бренд</div>
                    <div class="xform__input-box">
                        <input type="text" name="name">
                    </div>
                </div>
            </div>
            <div class="xform__right">
                <div class="xform__item">
                    <div class="xform__label">Ваш номер телефона</div>
                    <div class="xform__input-box">
                        <input type="text" name="phone" data-mask="+7 (999) 999-99-99">
                    </div>
                </div>
            </div>
        </div>

        <div class="xform__row">
            <div class="xform__left">
                <div class="xform__item">
                    <div class="xform__label">Сколько лет ваша компания/бренд на рынке?</div>
                    <div class="xform__input-box">
                        <input type="text" name="name">
                    </div>
                </div>
                <div class="xform__item xform__item--nomargin">
                    <div class="xform__label">Сайт</div>
                    <div class="xform__input-box">
                        <input type="text" name="name">
                    </div>
                </div>
            </div>
            <div class="xform__right">
                <div class="xform__item xform__item--nomargin">
                    <div class="xform__label">Дополнительная информация</div>
                    <div class="xform__input-box">
                        <textarea class="form-styled" name="question"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <div class="xform__submit">
            <button type="submit" class="btn-orange">Заказать</button>
        </div>
    </div>


    <div id="serm-free" class="xform">
        <div class="xform__caption">Включает в себя</div>

        <div class="serm-more">
            <div class="serm-more__first">
                <p><span class="bold">1. Сбор упоминаний о бренде/компании в социальных медиа и СМИ</span></p>
                <ul>
                    <li>Социальные сети: ВКонтакте, Facebook, Одноклассники, YouTube, Instagram, Twitter, Google+, Мой Мир, Vimeo, Мир Тесен Блоги, форумы, сайты отзывов</li>
                    <li>Мессенджеры: каналы и открытые чаты Telegram.</li>
                    <li>Онлайн СМИ: федеральные, региональные, зарубежные.)</li>
                </ul>
                <p class="more-note">Данные предоставляются в форматах Excel, CSV, JSON для последующиего анализа.</p>
            </div>
            <div class="serm-more__second">
                <p><span class="bold">2. Анализ поисковый выдачи ТОП 20 Яндекс и Google</span> по брендовым запросам c указанием ресурсов негативного содержания упоминаний о компании/бренде.</p>
                <p class="more-note">Данные предоставляются в формате презентации.</p>
            </div>
        </div>


</div>


//= include/footer.html